<html>

	<head>
		<title>EntERP</title>
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
  		<link href="{{STATIC_URL}}css/justified-nav.css" rel="stylesheet" media="screen">
  		<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css"/>
  		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
  		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>
	</head>

	<body>
		
	<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="col-sm-2">
  	<a href=""><img src="{{STATIC_URL}}img/con.jpg" width="200" height="200"></a>
  </div>

<div class="col-sm-8">
  <div class="carousel-inner">

    <div class="item active">
      <img src="{{STATIC_URL}}img/ERP-2.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="color:black;">Qué es un ERP</h1>
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          <p style="color:#4E4949;">Los sistemas de planificación de recursos empresariales, o ERP (por sus siglas en inglés, Enterprise Resource Planning) son sistemas de información gerenciales que integran y manejan muchos de los negocios asociados con las operaciones de producción y de los aspectos de distribución de una compañía en la producción de bienes o servicios.
        </p></pthis></div>
      </div>
    </div>

    <div class="item">
      <img src="{{STATIC_URL}}img/ERP-3.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Para que sirve un ERP?</h1>
          <p style="color:#4E4949;">Los sistemas ERP típicamente manejan la producción, logística, distribución, inventario, envíos, facturas y contabilidad de la compañía de forma modular. Sin embargo, la Planificación de Recursos Empresariales o el software ERP puede intervenir en el control de muchas actividades de negocios como ventas, entregas, pagos, producción, administración de inventarios, calidad de administración y la administración de recursos humanos.</p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="{{STATIC_URL}}img/ERP-4.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="color:black;">Beneficios de usar un ERP</h1>
          <p style="color:#4E4949;">
			> Optimizar, estandarizar y agilizar los procesos de negocio.<br>
			> Facilitar el acceso a toda la información de la compañía de forma confiable, precisa y oportuna, a través de la <br>integración de datos.
			> Optimizar la comunicación y compartir información  entre diferentes áreas de la organización.<br>
			> Eliminar operaciones y procesos innecesarios.<br>
			> Reducir costos al contar con una visibilidad en línea de lo que sucede en el negocio. <br>
			> Incrementar la asertividad, al eliminar la improvisación por falta de información.<br></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="{{STATIC_URL}}img/ERP-5.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Contáctenos</h1>
          <p><a class="btn btn-large btn-primary" href="#">Nuestro grupo desarrolador</a></p>
        </div>
      </div>
    </div>

  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->
</div>

<div class="col-sm-2"></div>

	</body>

</html>