<!DOCTYPE html>
<html>
<head>
	<title>Informes</title>
	<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
  	<link href="{{STATIC_URL}}css/justified-nav.css" rel="stylesheet" media="screen">
  	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css"/>
  	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
  	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>
</head>

<div class="container">
    <div class="masthead">
        <h3 class="text-muted">Ent<img src="{{STATIC_URL}}img/erp.jpg" width="80" height="80"></h3>
        <a href="/admin" align="right">Módulo de Administrador</a>
        <ul class="nav nav-justified">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li><!-- class="active"-->
                <li><a href="/accounting"><i class="glyphicon glyphicon-usd"></i> Contabilidad</a></li>
                <li><a href="/logistics"><i class="glyphicon glyphicon-briefcase"></i> Logística</a></li>
                <li><a href="/humanResources"><i class="glyphicon glyphicon-paperclip"></i> R. H.</a></li>
                <li><a href="/reports"><i class="glyphicon glyphicon-bullhorn"></i> Informes</a></li>
                <li><a href="/contact"><i class="glyphicon glyphicon-phone"></i> Contáctenos</a></li>
                <li><a href="/about"><i class="glyphicon glyphicon-send"></i> Acerca de</a></li>
                <li><a href="/logout"><i class="glyphicon glyphicon-off"></i></li></a>
        </ul>
  </div><br>

<body>
	<script type="text/javascript">
		$(function() {
        	$("#fecha").datepicker({ dateFormat: 'yy-mm-dd'});
        	$("#fecha_pago").datepicker({ dateFormat: 'yy-mm-dd'});
        	$("#fecha_descuento").datepicker({ dateFormat: 'yy-mm-dd'});
          $("#fecha_nomina").datepicker({ dateFormat: 'yy-mm-dd'});
          $("#fecha_venta").datepicker({ dateFormat: 'yy-mm-dd'});
          $("#fecha_compra").datepicker({ dateFormat: 'yy-mm-dd'});
    	});
	</script>
	<div class="col-sm-4">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Facturas</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
            	<form method="POST" action="/billsReport">
            		<label for="fecha">Ingrese la fecha:</label>
            		<input class="form-control" name="fecha" id="fecha" type="text"/><br>
            		<input class="btn btn-primary" type="submit" value="Ver"/>
            	</form>
            </div>
          </div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Productos (Ventas)</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
            	<form method="POST" action="/productsReport">
            		<label for="fecha_venta">Ingrese la fecha:</label>
            		<input class="form-control" name="fecha_venta" id="fecha_venta" type="text"/><br>
            		<input class="btn btn-primary" type="submit" value="Ver"/>
            	</form>
            </div>
          </div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Productos (Compras)</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
            	<form method="POST" action="/products2Report">
            		<label for="nombre">Ingrese la fecha:</label>
            		<input class="form-control" name="fecha_compra" id="fecha_compra" type="text"/><br>
            		<input class="btn btn-primary" type="submit" value="Ver"/>
            	</form>
            </div>
          </div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Pagos adiciconales</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
            	<form method="POST" action="/paysReport">
            		<label for="fecha_pago">Ingrese la fecha:</label>
            		<input class="form-control" name="fecha_pago" id="fecha_pago" type="text"/><br>
            		<input class="btn btn-primary" type="submit" value="Ver"/>
            	</form>
            </div>
          </div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Descuentos</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
             	<form method="POST" action="/discountsReport">
            		<label for="fecha_descuento">Ingrese la fecha:</label>
            		<input class="form-control" name="fecha_descuento" id="fecha_descuento" type="text"/><br>
            		<input class="btn btn-primary" type="submit" value="Ver"/>
            	</form>
            </div>
          </div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Historiales de trabajo</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
              	<form method="POST" action="/jobsReport">
            		<label for="id">Ingrese el número de empleado:</label>
            		<input class="form-control" name="id" id="id" type="text"/><br>
            		<input class="btn btn-primary" type="submit" value="Ver"/>
            	</form>
            </div>
          </div>
	</div>

  <div class="col-sm-4">
    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Nomina</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
                <form method="POST" action="/payrollReport">
                <label for="id">Ingrese la fecha:</label>
                <input class="form-control" name="fecha_nomina" id="fecha_nomina" type="text"/><br>
                <input class="btn btn-primary" type="submit" value="Ver"/>
              </form>
            </div>
          </div>
  </div>

  <footer style="position: relative;
                      height: 50px;
                      clear: both;
                      background: #e5e5e5;
                      text-align: center;">
            <p>Copyright &copy; X-js Team UPTC 2013</p>
  </footer>
</body>
</html>

	